version: '3.5'
services:
     
     
  global_revproxy:
    build: ./nginx
    container_name: "global_revproxy"
    volumes:
      - ./revproxy/log/global_revproxy:/var/log/nginx
      - ./conf/nginx.conf:/etc/nginx/nginx.conf
    restart: always
    ports:
      - "5050:80" 
    depends_on:
      - fe_revproxy
      - be_revproxy
    networks:
      - revproxy
  

  fe_revproxy:
    image: traefik:v2.10
    container_name: "fe_revproxy"
    networks:
        - revproxy
        - frontend
    expose:
        - "3000:3000"
    #ports:
        #- "3080:8080"

    volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
        - ./conf/traefik_frontend.toml:/traefik.toml:ro
        - ./log/fe_revproxy:/var/log


  be_revproxy:
    image: traefik:v2.10
    container_name: "be_revproxy"
    networks:
        - revproxy
        - backend
    expose:
        - "3001:3000"
    ports:
        - "3081:8080" 
        - "3001:3000"

    volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
        - ./conf/traefik_backend.toml:/traefik.toml:ro
        - ./log/be_revproxy:/var/log


networks:
    revproxy:
      name: revproxy
    backend:
      name: backend
    frontend:
      name: frontend
